# Build artifacts
/build
.gradle
/captures
*.iml
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
.kotlin/

# IDE - IntelliJ / Android Studio
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/runConfigurations.xml
*.iws
*.ipr

# Local configuration
local.properties
.idea/localBranches.xml

# Distribution
downloads/

# Log files
*.log

# OS specific
.DS_Store
Thumbs.db

# Secrets
google-services.json
.idea/google-services.json

# Firebase Configuration
app/google-services.json
